{# Note: expected ansible_distribution is "Amazon" or "RedHat" to be compatible with yum repos listed here https://docs.mongodb.com/manual/tutorial/install-mongodb-on-red-hat/ -#}
[mongodb-org-3.2]
name=MongoDB Repository
{% if ansible_distribution == "Amazon" %}
baseurl=https://repo.mongodb.org/yum/amazon/2013.03/mongodb-org/3.2/x86_64/
{% else %}
baseurl=https://repo.mongodb.org/yum/redhat/{{ ansible_lsb.major_release|int }}/mongodb-org/3.2/x86_64/
{% endif %}
gpgcheck=1
enabled=1
gpgkey=https://www.mongodb.org/static/pgp/server-3.2.asc
